DashBoard-WG.json
[
    {
        "id": "a6003cbb7b9997b5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8efab239a39b40c",
        "type": "mqtt in",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/start",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3ae31eea816327a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "dc20bfc9250bf304"
            ]
        ]
    },
    {
        "id": "9fbd194852f6180d",
        "type": "mqtt in",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/pass",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3ae31eea816327a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "77f0f775d8c96c71",
                "8333077ba9c7bfe8"
            ]
        ]
    },
    {
        "id": "77f0f775d8c96c71",
        "type": "ui_toast",
        "z": "a6003cbb7b9997b5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "8333077ba9c7bfe8",
        "type": "ui_text",
        "z": "a6003cbb7b9997b5",
        "group": "907119825a75f326",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Passcode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 180,
        "wires": []
    },
    {
        "id": "dc20bfc9250bf304",
        "type": "ui_gauge",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "group": "907119825a75f326",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Status",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "5bda261aa4dda8b1",
        "type": "mqtt out",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/start",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3ae31eea816327a",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "37b09629e018b926",
        "type": "ui_button",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "group": "907119825a75f326",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "New password",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 40,
        "wires": [
            [
                "deb8cba1eee47b75"
            ]
        ]
    },
    {
        "id": "deb8cba1eee47b75",
        "type": "mqtt out",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/speed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3ae31eea816327a",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "163b501105c202ea",
        "type": "mqtt out",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3ae31eea816327a",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae0079866fa0260a",
        "type": "ui_slider",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "label": "Time Range",
        "tooltip": "",
        "group": "907119825a75f326",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "3600",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "163b501105c202ea"
            ]
        ]
    },
    {
        "id": "267f5cf97bbdd3f1",
        "type": "mqtt in",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/timeleft",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c3ae31eea816327a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 140,
        "wires": [
            [
                "5e2878e570b96841",
                "83a86d8bde12c1d8"
            ]
        ]
    },
    {
        "id": "5e2878e570b96841",
        "type": "ui_chart",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "group": "907119825a75f326",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "TimeStamp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "83a86d8bde12c1d8",
        "type": "ui_text",
        "z": "a6003cbb7b9997b5",
        "group": "907119825a75f326",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minutes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd9caf8b319a9605",
        "type": "mqtt out",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/pause",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3ae31eea816327a",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "35a1f2ce750f91e1",
        "type": "ui_button",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "group": "907119825a75f326",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "5bda261aa4dda8b1"
            ]
        ]
    },
    {
        "id": "991622e411b84605",
        "type": "ui_text_input",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "label": "Text (Sec)",
        "tooltip": "",
        "group": "907119825a75f326",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "163b501105c202ea"
            ]
        ]
    },
    {
        "id": "8faa7ca1052650ae",
        "type": "inject",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "5bda261aa4dda8b1"
            ]
        ]
    },
    {
        "id": "8366adcd5e9fd03d",
        "type": "inject",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "5bda261aa4dda8b1"
            ]
        ]
    },
    {
        "id": "f5969492b18b6421",
        "type": "mqtt out",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "topic": "b6610502005/song",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c3ae31eea816327a",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "16d74ba0ed57c863",
        "type": "ui_switch",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "label": "Pause Time",
        "tooltip": "",
        "group": "907119825a75f326",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 400,
        "wires": [
            [
                "cd9caf8b319a9605"
            ]
        ]
    },
    {
        "id": "fb8f82333b937f72",
        "type": "ui_switch",
        "z": "a6003cbb7b9997b5",
        "name": "",
        "label": "Mute Song",
        "tooltip": "",
        "group": "907119825a75f326",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "f5969492b18b6421"
            ]
        ]
    },
    {
        "id": "c3ae31eea816327a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "b6610502005/light",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "907119825a75f326",
        "type": "ui_group",
        "name": "Information",
        "tab": "3ff5f1f75acabab9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ff5f1f75acabab9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]